llama-index-llms-anthropic==0.1.11
llama-index-llms-mistralai==0.1.12
llama-index-llms-ollama==0.1.5
llama-index-llms-openai==0.1.21
fastapi==0.110.1
uvicorn==0.23.2
python-dotenv==1.0.1
toml==0.10.2
llama-index==0.10.35
web3==6.15.1
py-solc-x==2.0.2
eth-account==0.11.0
SQLAlchemy==2.0.29
aiosqlite==0.20.0
python-multipart==0.0.9
