fastapi==0.110.1
uvicorn==0.23.2
python-dotenv==1.0.1
toml==0.10.2
llama-index==0.10.59
web3==6.15.1
py-solc-x==2.0.2
eth-account==0.11.0
SQLAlchemy==2.0.29
aiosqlite==0.20.0
python-multipart==0.0.9
llama-index-llms-anthropic==0.1.16
llama-index-llms-mistralai==0.1.19
llama-index-llms-ollama==0.2.2
llama-index-llms-openai==0.1.27
langtrace-python-sdk
llama-index-vector-stores-chroma==0.1.10
llama-index-vector-stores-pinecone==0.1.8
chromadb==0.5.5
