fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
toml==0.10.2
web3==7.2.0
py-solc-x==2.0.3
eth-account==0.13.3
SQLAlchemy==2.0.29
aiosqlite==0.20.0
python-multipart==0.0.9
llama-index==0.11.14
llama-index-llms-anthropic==0.3.4
llama-index-llms-mistralai==0.2.5
llama-index-llms-ollama==0.3.3
llama-index-llms-openai==0.2.9
llama-index-llms-gemini==0.3.5
llama-index-multi-modal-llms-openai==0.2.1
llama-index-vector-stores-chroma==0.2.0
llama-index-vector-stores-pinecone==0.2.1
llama-index-readers-s3==0.2.0
langtrace-python-sdk
chromadb==0.5.5
asyncpg==0.29.0
openpyxl==3.1.5
docx2txt==0.8
xlrd==2.0.1
